/* All Effect */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    max-width: 100%;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

/**** HOME PAGE ***/

/* Heading Holder */
header{
    width: 100%;
    text-align: center;
    background-color: hsl(240, 100%, 17%);
}

/* Company Name */
h1{
    font-family: "spectral sc", sans-serif;
    color: rgb(231, 146, 0);
    text-shadow: -1px -1px white;
    line-height: 2em;
    letter-spacing: .3em;
    margin: 20px auto;
}

/* Navigation */
nav{
    display: flex;
    max-width: 100%;
    background-color: black;
}

ul{
    display: flex;
    margin-left: -5%; 
}

li{
    margin: 12px auto;
    font-size: 1.5em;
}

/*link effects*/
a{ 
    text-decoration: none;
    color: white;
}

/* home image*/

.home{
    max-width: 100%;
}

.home-photo{
    width: 100%;
}

/* Slogan */

.span-holder{
    max-width: 100%;
    display: flex;
    width: 96%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

.slogan{
    max-width: 100%;
    font-family: "spectral sc", sans-serif;
    font-size: 1.8em;
    line-height: 1.5em;
    margin: 20px auto;
    text-shadow: 2px 2px lightgray;
}

/* paint can column */

.content1{
    display: flex;
    flex-wrap: nowrap;
    height: 320px;
}

.paint{
    width: 45%;
    box-shadow: 5px 5px lightgray;
}

.paint-text{
    margin: 20px 20px 20px 50px;
    font-size: 1.3em;
    width: 40%;
    letter-spacing: .15em;
    line-height: 1.5em;
}

/* 5 out of 5 span */

.span-holder2{
    max-width: 100%;
    display: flex;
    width: 96%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 15px auto;
}

.slogan2{
    max-width: 100%;
    font-family: "spectral sc", sans-serif;
    font-size: 2em;
    margin: 20px auto;
    text-shadow: 2px 2px lightgray;
}

/* city photo column */


.content2{
    display: flex;
    flex-wrap: nowrap;
    height: 320px;
}

.orlando-text{
    margin: 20px 20px 20px 50px;
    font-size: 1.3em;
    width: 40%;
    letter-spacing: .15em;
    line-height: 1.5em;
}

.orlando{
    width: 45%;
    box-shadow: -5px 5px lightgray;
}

/* footer */

footer{
    position: relative;
    bottom:0;
    margin-top: 20px;
    background: gray;
    color: black;
    height: 50px;
}



