/* All Effect */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    background-color:white;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 1 0 auto;
    width: 100%;
    background-color: rgb(246, 244, 229);
}

/********************************** HOME PAGE ********************************/

/* Heading Holder */
header{
    width: 100%;
    text-align: center;
    background-color: hsl(240, 100%, 17%);
    max-height: 180px;
}

/* Company Name */
h1{
    font-family: "spectral sc", sans-serif;
    color: rgb(231, 146, 0);
    text-shadow: -1px -1px white;
    margin: 20px auto;
}

/* Navigation */
nav{
    display: flex;
    max-width: 100%;
    background-color: black;
}

ul{
    display: flex;
    margin-left: -5%; 
}

li{
    margin: 12px auto;
    font-size: 1.5em;
}

/*link effects*/
a{ 
    text-decoration: none;
    color: white;
}

/*home image*/
.home{
    max-width: 100%;
}

.home-photo{
    width: 100%;
}

/***************************************CONTENT**************************************/

/*span element style*/
.span-holder{
    max-width: 100%;
    display: flex;
    width: 96%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}
/*span element fonts*/
.slogan{
    max-width: 100%;
    font-family: "spectral sc", sans-serif;
    font-size: 1.8em;
    line-height: 1.5em;
    margin: 20px auto;
    text-shadow: 2px 2px lightgray;
}

/* paint can column */

.content1{
    display: inline-flex;
    flex-wrap: wrap;
    height: 375px;
}

/* city photo column */
.content2{
    display: inline-flex;
    flex-wrap: wrap;
    height: 400px;
}

/* Blue house photo column */
.content3{
    display: inline-flex;
    flex-wrap: wrap;
    height: 450px;
}


/* IMAGES ON MAIN PAGE */
.paint, .orlando, .bluehouse{
    width: 95%;
    height: 200px;
    box-shadow: 5px 5px lightgray;
    flex-direction: row;
}
/* TEXT ON MAIN PAGE */
.paint-text, .orlando-text, .bluehouse-text{
    font-size: 1.3em;
    width: 95%;
    letter-spacing: .1em;
    line-height: 1em;
    flex-direction: row;
}




/****************************** footer*****************************************/
footer{
    width: 100%;
    background: gray;
    color: black;
    height: 50px;
}
/*******************************ABOUT PAGE*************************************/

/**page content holder**/
.about-holder{
  height: 1900px;
  width: 100%;
}

/**page Span Holer**/
.span-about{
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: 96%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

/** Span title **/
.slogan-about{
    display: flex;
    font-family: "spectral sc", sans-serif;
    font-size: 2.3em;
    line-height: 1.5em;
    margin: 10px auto;
    text-shadow: 2px 2px lightgray;
    letter-spacing: .2em;
}
/* photo of ernesto*/
 .owner{
     max-width: 90%;
     max-height: 800px;
     margin-bottom: 7px;
     margin-left: 30px;
     box-shadow: -5px -5px lightgray;
     position: center;
 }

/** company background content**/
.para1{
    display: inline-flex;
    flex-direction: column;
    order: 2;
    margin: 20px 20px 20px 50px;
    font-size: 1.7em;
    width: 90%;
    letter-spacing: .13em;
    line-height: 1em;
}


/********************************SERVICES******************************************/

/**page content holder**/
.services-holder{
    height: 100%;
    width: 100%;
}
  
 /**page title holder**/ 
.span-services{
      max-width: 100%;
      display: flex;
      width: 96%;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      text-align: center;
      justify-content: center;
      margin: 10px auto;
}

  /**span title**/
.slogan-services{
      display: flex;
      font-family: "spectral sc", sans-serif;
      font-size: 2.3em;
      line-height: 1.5em;
      margin: 10px auto;
      text-shadow: 2px 2px lightgray;
      letter-spacing: .2em;
}

  /** top page content**/
.opener{
    display: flex;
    order: 2;
    margin: 20px 20px 20px 50px;
    font-size: 1.35em;
    width: 90%;
    letter-spacing: .15em;
    line-height: 1.2em;
}

/** flex box effect for contents **/
.items{
    display: flex;
    flex-direction: column;
}

/***********************************Contact*******************************/

/** page content holder**/
.content-holder{
    height: 100%;
    width: 100%;
}

/** span holder **/
.span-contact{
    max-width: 100%;
    display: flex;
    width: 96%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

/** span title **/
.contact-header{
    display: flex;
    font-family: "spectral sc", sans-serif;
    font-size: 2.3em;
    line-height: 1.5em;
    margin: 10px auto;
    text-shadow: 2px 2px lightgray;
    letter-spacing: .2em;
}

/**mobile link positioning **/
.phone{
    margin-top: 15%;
    margin-bottom: 100px;    
}

.phone{
    height: 400px;
    width: 400px;
}

.email{
    height:400px;
    width: 400px;
}

/******************************************************** media querys ****************************************************/



@media screen and (min-width: 600px) {
   /*******HOME PAGE******/

  /***Paint can area**/ 
    .content1{
        display: flex;
        flex-wrap: nowrap;
        height: 300px;
    }

    /* city photo column */
    .content2{
        display: flex;
        flex-wrap: nowrap;
        height: 300px;
        }

         /* city photo column */
    .content3{
        display: flex;
        flex-wrap: nowrap;
        height: 330px;
        }
    
    /*paint can image*/
    .paint, .orlando, .bluehouse{
        width: 45%;
        height: 300px;
        box-shadow: 5px 5px lightgray;
        flex-direction: column;
        margin: 0px 7px;
    }
    
    /*text next to paint image*/
    .paint-text, .orlando-text, .bluehouse-text{
        font-size: 1.3em;
        width: 95%;
        letter-spacing: .1em;
        line-height: 1.4em;
        flex-direction: column;
    }

    /*Text next to blue house photo*/
    .bluehouse-text{
    order: 2;
    }

    /*blue house photo*/
    .bluehouse{
    order: 1;
    }

    .owner{
        width: 80%;
        max-height: 1000px;
        margin-left: 80px;
    }
    



    /*******ABOUT PAGE ******/





@media screen and (min-width: 1180px) {
    #wrapper{
        max-width: 80%;
    }

    body{
        background-color: rgb(246, 244, 229);
    }

    .paint, .orlando, .bluehouse{
        max-width: 500px;
    }

    .paint-text, .orlando-text, .bluehouse-text{
        line-height: 2.3em;
    }

    .owner{
        max-width: 60%;
        margin-left: 280px;
    }

    .para1{
        display: inline-flex;
        flex-direction: column;
        order: 2;
        margin: 20px 20px 20px 50px;
        font-size: 1.7em;
        width: 90%;
        letter-spacing: .13em;
        line-height: 1.8em;


  }  





  

