/* All Effect */
*{
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    max-width: 100%;
}
#wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

/**** HOME PAGE ***/

/* Heading Holder */
header{
    width: 100%;
    text-align: center;
    background-color: hsl(240, 100%, 17%);
}

/* Company Name */
h1{
    font-family: "spectral sc", sans-serif;
    color: rgb(231, 146, 0);
    text-shadow: -1px -1px white;
}

/* Navigation */
nav{
    display: flex;
    background-color: black;
}

ul{
    display: flex;
}

li{
    margin: 5px 50px;
    font-size: 1.5em;
    align-content: left;
}

/*link effects*/
a{  
    text-decoration: none;
    color: white;
}

/* home image*/

.home{
    max-width: 100%;
}

.home-photo{
    width: 100%;
}

/* Slogan */

.span-holder{
    max-width: 100%;
    display: flex;
    width: 98%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

.slogan{
    max-width: 100%;
    font-family: "spectral sc", sans-serif;
    font-size: 2em;
}

/* paint can column */

.content1{
    display: flex;
    flex-wrap: nowrap;
    height: 320px;
}

.paint{
    margin: 20px 20px;
    width: 40%;
}

.paint-text{
    margin: 20px 20px 20px 50px;
    font-size: 1.3em;
    width: 40%;
    letter-spacing: .15em;
    line-height: 2em;
    font-style: oblique;
}

.orlando{
    max-width: 100%;
}
